/* line 4, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/guchis.scss */
.modal {
  display: none;
}

/* line 5, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/guchis.scss */
.modalBody {
  position: fixed;
  z-index: 1000;
  background: #000;
  width: 690px;
  left: 50%;
  top: 50%;
  height: 400px;
}

/* line 6, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/guchis.scss */
.modalBK {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.9;
  filter: alpha(opacity=90);
  -moz-opacity: 0.90;
}

/* line 7, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/guchis.scss */
.btns {
  font-size: 80px;
  width: 150px;
  background: #111;
  height: 150px;
  line-height: 150px;
  text-align: center;
  font-family: arial;
  color: #fff;
  float: left;
  margin: 10px;
  cursor: pointer;
}

/* line 8, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/guchis.scss */
.close {
  cursor: pointer;
}

/* line 9, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/guchis.scss */
.modal {
  width: 690px;
  color: #eee;
}

/* line 10, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/guchis.scss */
.modal p {
  font-size: 12px;
  text-align: justify;
}

/* line 11, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/guchis.scss */
.modal h1 {
  font-weight: bold;
  font-size: 30px;
}

/* line 12, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/guchis.scss */
.modalBody {
  padding: 10px;
}
/* line 1, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/scaffolds.scss */
body {
  background: white;
}

/* line 6, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 12, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 15, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 19, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 26, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-top: 40px;
}

/* line 32, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 36, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 42, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 50, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 61, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 67, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}

/* line 70, /Users/shivasaki/folder/RailsApp/guchirun/app/assets/stylesheets/scaffolds.scss */
.actions {
  text-align: center;
  color: #29ABE2;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

.head{
    height: 70px;
    background-color:tomato;
    color:white;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    font-family: monospace;
}
