// Place all the styles related to the guchis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#grid {
	width:100%;

}
li {

	float: left;
margin-left:5px;
	list-style: none;
}
.show{
	border:1px solid tomato;
	margin-top:100px;
	text-align:center;
}